#root {
    -fx-background-color: rgb(179, 154, 37);
    -fx-spacing: 50px;
    -fx-padding: 50px;
    -fx-alignment: center;
}

#feedback {
    -fx-fill: rgb(43, 43, 44);
    -fx-font: 20px Ubuntu, sans-serif;
    -fx-alignment: center;
}

#button-box {
    -fx-alignment: center;
    -fx-spacing: 20px;
}